<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>S’enregistrer</title>
<link href="home.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
<div class="signup-form">
<h2>S’enregistrer</h2>
<form action="/api/users/" id="signup-form" method="post">
<label for="username">Username:</label>
<input id="username" name="username" required="" type="text"/>
<label for="email">Email:</label>
<input id="email" name="email" required="" type="email"/>
<label for="password">Password:</label>
<input id="password" name="password" required="" type="password"/>
<label for="confirm-password">Confirm Password:</label>
<input id="confirm-password" name="confirm-password" required="" type="password"/>
<div id="password-error" style="color: red;"></div>
<input type="submit" value="Sign Up"/>
</form>
<a href="https://sunriserotary.odoo.com/web/login">Vous avez déjà un compte ? Connexion</a>
</div>
</div>
<script>
        const form = document.querySelector('#signup-form');
        const passwordInput = document.querySelector('#password');
        const confirmPasswordInput = document.querySelector('#confirm-password');
        const passwordErrorDiv = document.querySelector('#password-error');

        form.addEventListener('submit', (e) => {
            e.preventDefault();
            if (passwordInput.value !== confirmPasswordInput.value) {
                passwordErrorDiv.innerText = 'Passwords do not match';
            } else {
                const user = {
                    username: document.querySelector('#username').value,
                    email: document.querySelector('#email').value,
                    password: passwordInput.value
                };

                fetch('/api/users/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(user)
                })
                .then(response => response.text())
                .then(message => console.log(message));
            }
        });
    </script>
</body>
</html>